@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Fredericka+the+Great&family=PT+Serif:wght@400;700&family=Science+Gothic:wght@400;700&display=swap');
